*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
}

/* GENERAL */

ul {
    list-style: none;
}


/* btn style */

.btn-red {
    color: white;
    background-color: #d2401e;
    font-family: 'Roboto Condensed', sans-serif;

    border: none;
    padding: 10px 20px;
}


/* NAVBAR STYLE */

.navbar {
    background-image: url(../images/dotstars.png); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

.navbar ul {
    display: flex;
    
}

.navbar ul li {
    
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 14px;
   
}

/* nav-center-style */

.nav-center ul {
    align-items: center;
}

.nav-center ul li,
.nav-right ul li  {
    display: flex;
    align-items: center;
}

.nav-center ul li.logo-header img{
   height: 100px;
}

.nav-center ul li img  {
    height: 10px;
    padding-right: 10px;
}

/* nav-right style  */

.nav-right ul li img {
    padding-right: 10px;
    height: 15px;
}

.nav-right ul li i {
    padding-right: 10px;
}

/* HEADER STYLE */

.main-header {
    background-image: url(../images/dotstars.png);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.urban-logo img {
   width: 50%;
    transform: translateX(50%);

}

.urban-logo {
    position: relative;

}

.layover-slice {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}






